{% extends '../base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

{% load static %}

<link type="text/css" href="{% static 'pages/css/home.css' %}" rel="stylesheet">

<div class="container-fluid bg-light">

    <!-- alerts -->
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm" role="alert">
        <h5><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="{{ message.tags }}"><use xlink:href="#{{ message.tags }}"/></svg>{{message}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
</div>


<script src="{% static 'pages/js/disable_right_click.js' %}"></script>

{% endblock body %}